body {
  background-color: #343f53;
  margin: 0;
}
.fontmenu {
  font-family: "Sarpanch", sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #e4e0e0;
  font-size: 12px;
}
.around {
  justify-content: space-around;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cx-menu {
  background-image: linear-gradient(to right, #4c1bbd, #8d0ab1e1);
  padding: 15px;
}
.conteiner {
  padding: 65px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: #1b1b1b;
  color: #b1b1b1;
  box-shadow: 0 0 1em rgb(19, 18, 18);
}
.center {
  text-align: center;
}
.avatar {
  padding: 10px;
  margin: 10px auto;
}
.circleborder {
  clip-path: circle();
}
#fonttitle {
  font-family: "Sarpanch", sans-serif;
  font-size: 25px;
  color: #b6f8cc;
}
.justify {
  text-align: justify;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.fontpress {
  font-family: "Press Start 2P", cursive;
  color: #b6f8cc;
  font-size: 30px;
  margin: 60px auto;
}
.pc-position {
  position: relative;
  top: -130px;
  left: 200px;
}
.fontpress2 {
  font-family: "Press Start 2P", cursive;
  color: #63fc96;
  font-size: 17px;
  margin: 60px auto;
}
.ling-ico {
  margin-top: 40px;
}
.icon-cog2 {
  color: #a8a613;
}
.cx-projeto {
  background-image: linear-gradient(to right, #6f099e, #cf1ac6);
  margin: 20px 10px;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 0 0 1em rgba(19, 18, 18, 0.966);
}
.links {
  background-image: linear-gradient(to right, #09e4a6, #c007f3);
  width: auto;
  padding: 20px;
  margin: 35px auto;
  clip-path: circle();
}
.conteiner2 {
  padding: 35px;
  margin-top: 30px;
  max-height: 100%;
  max-width: 100%;
  background-color: #2d3748;
  box-shadow: 0 0 1em rgba(12, 12, 12, 0.877);
}
.mgt-80 {
  margin-top: 80px;
}
.centeritem {
  justify-content: center;
  justify-items: center;
}
.divisao {
  background-image: url("./img/ilustracoes/pngegg.png");
  padding: 90px;
  margin: 0;
  flex-wrap: wrap;
}
.conteiner-text {
  color: #b1b1b1;
  background-color: #1b1b1b;
  padding: 10px;
  width: 500px;
  margin: auto;
  border-radius: 2%;
  border: solid #b1b1b1;
  flex-wrap: wrap;
}
.text-gameapre {
  font-family: "Press Start 2P", cursive; 
  text-align: justify;
  line-height: 24px;
}
@media only screen and (max-width: 1000px) {
  .links {
    padding: 9px;
    margin: 10px auto;
  }
  .conteiner-text{
    height: auto;
    padding: 10px;
    width: 200px;
  }
  .pc-position{
    flex-wrap: wrap;
    top: 0;
    left: 0;
  }
  .conteiner {
    padding: 80px;
    max-width: 100%;
    height: auto;
  }
  #fonttitle {
    font-size: 25px;
  }
  .text {
    font-size: auto;
  }
  .conteiner2 {
    padding: 100px;
    margin-top: 40px;
  }
  .cx-projeto {
    margin: 30px 10px;
    padding: 20px;
  }
  .fontmenu a {
    font-size: 12px;
    margin: auto;
  }
  .cx-menu {
    padding: 20px;
  }
  .ling-ico {
    margin-top: 30px;
  }
  .avatar {
    padding: 10px;
    margin: auto;
  }
}
