body {
  background-color: #343f53;
  margin: 0;
}
.fontmenu {
  font-family: "Sarpanch", sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #e4e0e0;
  font-size: 12px;
}
.around {
  justify-content: space-around;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cx-menu {
  background-image: linear-gradient(to right, #4c1bbd, #8d0ab1e1);
  padding: 15px;
}
.conteiner {
  padding: 65px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: #1b1b1b;
  color: #b1b1b1;
  box-shadow: 0 0 1em rgb(19, 18, 18);
}
.center {
  text-align: center;
}
.avatar {
  padding: 10px;
  margin: 10px auto;
}
.circleborder {
  clip-path: circle();
}
#fonttitle {
  font-family: "Sarpanch", sans-serif;
  font-size: 35px;
  color: #b6f8cc;
}
.justify {
  text-align: justify;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.fontpress {
  font-family: "Press Start 2P", cursive;
  color: #b6f8cc;
  font-size: 25px;
  margin: 60px auto;
}
.ling-ico {
  margin-top: 40px;
}
.icon-cog2 {
  color: #a8a613;
}
.fontsub {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: #e4e0e0;
  margin: 25px auto;
}
.cx-projeto {
  background-image: linear-gradient(to right, #6f099e, #cf1ac6);
  margin: 20px 10px;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 0 0 1em rgba(19, 18, 18, 0.966);
}
.links {
  background-image: linear-gradient(to right, #09e4a6, #c007f3);
  width: auto;
  padding: 20px;
  margin: 35px auto;
  clip-path: circle();
}
.conteiner2 {
  padding: 35px;
  margin-top: 30px;
  max-height: 100%;
  max-width: 100%;
  background-color: #2d3748;
  box-shadow: 0 0 1em rgba(12, 12, 12, 0.877);
}
.mgt-80 {
  margin-top: 80px;
}
.centeritem {
  justify-content: center;
  justify-items: center;
}
html {
  text-size-adjust: 100%;
}
@media only screen and (max-width: 1000px) {
  .links {
    width: 98px;
    padding: 20px;
    margin: 80px auto;
  }
  .conteiner {
    padding: 100px;
    max-width: 100%;
    height: auto;
  }
  #fonttitle {
    font-size: 25px;
  }
  .text {
    font-size: auto;
  }
  .conteiner2 {
    padding: 150px;
    margin-top: 40px;
  }
  .cx-projeto {
    margin: 40px 50px;
    padding: 20px;
  }
  .fontmenu a {
    font-size: 26px;
    margin: auto;
  }
  .cx-menu {
    padding: 25px;
  }
  .ling-ico {
    margin-top: 50px;
  }
  .avatar {
    padding: 10px;
    margin: auto;
  }
}
