body {
  background-color: #b1b1b1;
}
.fontmenu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #e4e0e0;
  font-size: 18px;
}

.around {
  justify-content: space-around;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cx-menu {
  background-color: rgba(5, 38, 110, 0.664);
  padding: 35px;
}
.conteiner {
  padding: 75px;
  margin: 0 auto;
  max-width: 100%;
  height: 450px;
  background-color: #000000;
  color: #b1b1b1;
}
.center {
  text-align: center;
}
.avatar {
  padding: 10px;
  margin: 10px auto;
}
.circleborder {
  clip-path: circle();
}
#fonttitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
}
.justify {
  text-align: justify;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.ling-ico {
  margin-top: 40px;
}
.icon-cog2 {
  color: #a8a613;
}
.fontsub {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}
.cx-projeto {
  background-color: #00000081;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0 0 1em rgba(24, 23, 23, 0.815);
}
.links {
  background-color: #96085bb7;
  width: 300px;
  padding: 20px;
  margin: 0 20px;
  clip-path: circle();
}
.conteiner2 {
  padding: 35px;
  margin: 30px auto;
  max-width: 100%;
  color: #b1b1b1;
}
.mgt-80 {
  margin-top: 80px;
}
.centeritem {
  justify-content: center;
  justify-items: center;
}
* {
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .conteiner {
    padding: 60px;
    margin: 0 auto;
    max-width: 100%;
    height: 600px;
  }
  #fonttitle {
    font-size: 30px;
  }
  p {
    font-size: 12px;
  }
  .fontmenu a {
    font-size: 10px;
  }
  .cx-menu {
    padding: 20px;
  }
  .links {
    width: 200px;
    padding: 20px;
    margin: 0 10px;
  }
}
